<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyza66.personnelsalarymanagement.mapper.PureSalaryMapper">

    <select id="selectAll" resultType="com.tyza66.personnelsalarymanagement.pojo.UserSalaryEncryption">
        select *
        from `user_salary_encryption`
    </select>

    <select id="selectById" resultType="com.tyza66.personnelsalarymanagement.pojo.UserSalaryEncryption">
        select *
        from `user_salary_encryption`
        where `id` = #{id}
    </select>

    <insert id="insert">
        INSERT INTO `personnel_information_management`.`user_salary_encryption` (`name`, `year`, `month`, `salary`)
        VALUES (#{name}, #{year}, #{month}, #{salary})
    </insert>
</mapper>